node_modules/

.env
.env.*
!.env.example

.expo/
dist/
web-build/

/ios/
/android/

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*
*.log

*.tsbuildinfo
.DS_Store

app-example/
